<br/><br/><br/>
<footer class="footer">
  <small>
    <a href="#">Apps</a>
    by Dust Rise Technologies
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</footer>
